<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nikhilg.dev.trekavenue">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Acctivities -->


        <!-- Splash Activity -->
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" />

        <!-- Trek Detail Activity -->
        <activity
            android:name=".Activities.TrekDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusBarTheme"/>

        <activity android:name=".Activities.SlotItineraryActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9bf81761e6e7a1542ffea6f8c514aee9b1b3a046" />
    </application>

</manifest>
